body{
    background-color: bisque;
}

.container{
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 100px;
}

.item{
    display: flex;
    justify-content: space-around;
    align-content: center;
}