body{
  margin: 10px;
  /*background-image: url("spacecadet.jpg") ;
  background-size: cover; */
  background-color: #A8CBF9;
}

h1 {
  font-family: sans-serif;
  font-family: monospace;
  text-align: center;
}


img {
  float: right;
  margin-right: 60%
}
