{% extends "base.html" %}

{% block title%} Main {% endblock %}


{% block body %}

{{ data }}

{% for item in data['products'] %}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{ item['name'] }}</h5>
    <p class="card-text"> {{ item['brand'] }}</p>
    <p class="card-text"> &dollar;{{ item['price'] }}</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
</div>

{% endfor %}

{% endblock %}

